<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.databaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\database.mdb"
            providerName="System.Data.OleDb" />
        <add name="Test.Properties.Settings.databaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\database.mdb"
            providerName="System.Data.OleDb" />
        <add name="Test.Properties.Settings.usersConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\users.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>